<% provide(:title, "Home") %>
<!-- Setting Jumbotron using Bootstrap Framework with special background color and specific opacity -->
<div class="pl-5 pr-5">
<div class="jumbotron jumbotron-fluid" style="background-color: #eaffff; opacity: 0.85">
  <div class="container">
    <h1 class="display-4">Найкращі кулінарні рецепти: апетитні та різноманітні страви</h1>
  </div>
</div>
</div>
<div class="pl-5 pr-5 py-2">
<div class="card-group mb-3">
  <div class="card">

    <!-- Setting proper image for recipe -->
    <img src="https://rud.ua/uploads/recipe/5c765a6989ed8.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <!-- Title of card -->
      <h5 class="card-title">ЗАКУСКИ З ЛИСТКОВОГО ТІСТА</h5>
      <!-- Description -->
      <p class="card-text">Ароматний і пишний, листковий пиріг із сиром чудово доповнить ваш стіл. До того ж він добре підходить до чаю. Крім сиру, до начинки можна додати інші інгредієнти, які зумовлять нові відтінки смаку. Такий пиріг можна подавати гарячим або дати йому охолонути до кімнатної температури.</p>
      <!-- Setting the button that redirect to appropriate page about recipe -->
      <a href="#" class="btn btn-outline-dark">Салати і закуски</a>
    </div>
    <div class="card-footer">
      <!-- Printing time of last update -->
      <small class="text-muted">Обновлено 2 хв тому</small>
    </div>
  </div>
  <div class="card">
    <img src="https://rud.ua/uploads/recipe/5c765a594c26a.jpg" class="card-img-top" alt="#e3f2fd">
    <div class="card-body">
      <h5 class="card-title">ВИПІЧКА ІЗ СИРОМ</h5>
      <p class="card-text">Ці рогалики виходять дуже повітряними й ніжними, а сам рецепт швидкий і зовсім не складний. У начинку ви можете додати родзинки або інші сушені фрукти.</p>
      <a href="#" class="btn btn-outline-dark">Випічка</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Обновлено 1 день тому</small>
    </div>
  </div>
  <div class="card">
    <img src="https://rud.ua/uploads/recipe/5ae197db3c473.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">РЕЦЕПТИ З ГРИЛЬОВАНИМИ ОВОЧАМИ</h5>
      <p class="card-text">Овочі на грилі — корисна та низькокалорійна страва. Вони зберігають вітаміни та яскравий смак завдяки тому, що швидко готуються. Готувати їх можна на вогнищі на спеціальній решітці або вдома — на електрогрилі чи сковороді гриль.</p>
      <a href="#" class="btn btn-outline-dark">Другі страви</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Обновлено 5 хв тому</small>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <img src="https://rud.ua/uploads/recipe/5ae1c6de2e4de.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">РЕЦЕПТИ СИРНОГО ПЕЧИВА</h5>
      <p class="card-text">Випічка з домашнього сиру — корисна, смачна та поживна. Її основа — домашній сир. Від якості цього продукту залежить те, наскільки вдалою вона вийде. Для приготування сирного печива оптимально брати сир жирністю не менше 5 %. Він не надто сухий, тому зробить випічку ніжною та смачною.</p>
      <a href="#" class="btn btn-outline-dark">Випічка</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Обновлено 1 хв тому</small>
    </div>
  </div>
  <div class="card">
    <img src="https://rud.ua/uploads/recipe/57bee56ab80c7.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">СИРНИКИ З МАНКОЮ</h5>
      <p class="card-text">Сніданок повинен бути смачним, ситним і корисним. В такому випадку завжди виручать сирники з манкою. Нижче ви знайдете 3 рецепта сирників: з манкою, з манкою та ізюмом, з манкою і бананами. Легкого приготування та смачного сніданку.</p>
      <a href="#" class="btn btn-outline-dark">Десерти</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Обновлено 2 дні тому</small>
    </div>
  </div>
  <div class="card">
    <img src="https://rud.ua/uploads/recipe/57766cb2184d6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">МЛИНЧИКИ З КАБАЧКІВ</h5>
      <p class="card-text">Кабачки почали вирощувати ще за 3000 років до н. е. Батьківщиною цього овоча вважається Центральна Америка й Індія. Лише в XVI ст. кабачки були завезені у Європу, а зараз — популярні в багатьох країнах. При цьому особливе місце належить кабачкам у середземноморській кухні. А от у Європі гурмани полюбляють різновид кабачків — цукіні.</p>
      <a href="#" class="btn btn-outline-dark">Другі страви</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Обновлено 5 днів тому</small>
    </div>
  </div>
</div>

<!-- Using Bootstrap pagination for switching from page to page -->
<nav aria-label="Page navigation example" class="my-3">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Попередня</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Наступна</a>
    </li>
  </ul>
</nav>
</div>